.for{
    background-color: #4070f4;
    margin: 250px;
    text-align: justify;
    
}
.container{
    position: relative;
    
    width: 100%;
    background: #fff;
   /* border-radius: 10px;
   box-shadow:  0 5px 10px rgba(0,0,0,0.1);*/
    
    

}
