/* lo principal

*/

.App {
  text-align: center;
  background-color: #fff;
  width: auto;
  height: auto;

}

.App .principal .carousel-inner{
  height: 100vh;
  width: auto;

}


.App .principal{
  width: auto;
  height: 100vh;

}

.card{
  margin-top: 20px;
  position: center;
  width: 50%;
}





/*.hola{
  position: center;
  display: center;
  width: 30%;
  height: 100px;
  margin-top: 50px;

}*/


/* css que van al SESSION
*/

.Sessionn .chao{
  margin-top: 100px;
}

.principal .chao{
  margin-top: 40px;
}



/* css que van al formulario
*/


.container .chao .footer{
  margin-top: 60px;
  position: center;

}
.container{
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  display: center;
  position: center;
  max-width: 400px;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 0 5 px 10px rgba(0, 0,0, 0.1);
  border-radius: 20px;

}





.basty .chao{

  margin-top: 40px;

}

.container .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
  margin-top: 10px;
  
}




/* css que van al formulario hasta aca
*/















